@import "@/app/variables";

.header {
  position: absolute;
  padding-bottom: 55px;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: transparent;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;

  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.list {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.link {
  position: relative;
  font-weight: 300;
  line-height: 130%;
  color: #fdfdfd;

  @include link-hover;
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 15px;

  li {
    cursor: pointer;
  }
}
